.chart {
  user-select: none;
  width: 100%;
  font-family: "Quicksand";
  font-weight: 700;
}

.btn {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 4px 10px;
}
