.mBottom {
  margin-bottom: 3rem;
}

.zoomOut {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.chartControlContainer {
  margin-bottom: 4rem;
}

.chartControlFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 40em) {
  .mBottom {
    margin-bottom: 1rem;
  }

  .zoomOut {
    font-size: 1.75rem;
  }
}
