.mBottom {
  margin-bottom: 3rem;
}

.zoomOut {
  cursor: pointer;
  font-size: 2rem;
}

.chartControlContainer {
  margin-bottom: 4rem;
}

.chartControlFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deviceId {
  color: #00c119;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 40em) and (max-width: 60em) {
  .deviceId {
    font-size: 1.5rem;
  }
}

@media (max-width: 40em) {
  .mBottom {
    margin-bottom: 1rem;
  }

  .deviceId {
    font-size: 1.1rem;
    min-width: 125px;
  }

  .fSize {
    font-size: 0.5rem;
  }

  .zoomOut {
    font-size: 1.75rem;
  }
}
